/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Lato", sans-serif;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url("images/formbg.jpg") no-repeat center center/cover;
  padding: 7% 5%;
}
.back-to-home {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  text-decoration: none;
  background: #000;
  padding: 5px 10px;
  font-size: 18px;
  border: 2px solid #fff;
}
h1 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  margin-bottom: 25px;
  text-transform: uppercase;
  word-spacing: 20px;
  letter-spacing: 5px;
}
/* Form */
form {
  background: #fefefe;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 20px;
}
label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
input,
select {
  width: 100%;
}
form h2 {
  margin-bottom: 10px;
}
form .customer-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
form .customer-details input {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
}
form .travel-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}
form .travel-details input {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
}
form .destination-details {
  margin-bottom: 20px;
}
form .destination-details select {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
}
.btn-group {
  display: flex;
  gap: 10px;
}
.book-now-btn {
  background: #347928;
  font-weight: bold;
  color: #fff;
  width: 100%;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.book-now-btn:hover {
  background: #00712d;
}
.reset-form-btn {
  background: #e83f25;
  font-weight: bold;
  color: #fff;
  width: 100%;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.reset-form-btn:hover {
  background: #a62c2c;
}
/* Media Queries */
@media (min-width: 320px) and (max-width: 480px) {
  .back-to-home {
    font-size: 16px;
  }
  h1 {
    font-size: 25px;
    margin-top: 30px;
  }
  form h2 {
    font-size: 20px;
  }
  label {
    font-size: 18px;
  }
  form .customer-details input{
    font-size: 16px;
  }
  
form .travel-details{
    grid-template-columns: 1fr;
}
form .travel-details input{
  font-size: 16px;
}
form .destination-details select{
  font-size: 16px;
}
.btn-group{
  flex-direction: column;
}
.book-now-btn,.reset-form-btn{
  font-size: 18px;
  padding: 10px 0;
}
}
@media (min-width: 481px) and (max-width: 768px) {
  h1{
    margin-top: 25px;
    font-size: 30px;
  }
}
